<% layout("/layouts/boilerplate.ejs") %>

    <h1 class="mt-2" style="margin-bottom:32px; font-weight: 700;"><span class="icon" style="font-size: 1.8rem">⛺</span>Camping</h1>
    <div class="card-container row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 mt-3">
        <div class="col mt-3">
            <h3><%= listing.title %></h3>
            <div class="card show-card listing-card">
                <img 
                src="<%=  listing.image.url %>" 
                class="card-img-top" 
                alt="listing_image" 
                style="height: 17.5rem" />
        
                <div class="card-body">
                    <p class="card-text-trend"><%= listing.description %></p>
                    <p class="card-text-trend">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                    <p class="card-text-trend"><%= listing.location %></p>
                    <p class="card-text-trend"><%= listing.country %></p>
                </div>
            </div>
        </div>
    </div>

